{erl_opts, [debug_info]}.
{deps, [
  {foil, "0.1.1"}
]}.

{pre_hooks,
  [{"(linux)", compile, "make -C c_src"}]}.

{post_hooks,
  [{"(linux)", clean, "make -C c_src clean"}]}.

{plugins, [rebar3_proper]}.

{profiles, [
  {test, [
    {deps, [{proper, "1.2.0"}]},
    {erl_opts, [export_all]}
  ]}
]}.

{xref_checks, [
  deprecated_functions,
  deprecated_function_calls,
  locals_not_used,
  undefined_function_calls
]}.
